.fl {float: left;}
.fr {float: right;}
.clearfix {
	display: block;
	overflow: hidden;
	zoom: 1;
}
.clearfix:after {
	content: ".";
	display: block;	
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.pr {position: relative;}
.pa {position: absolute;}

.bdt {border-top: 1px solid #dfdfdf;}
.bdb {border-bottom: 1px solid #dfdfdf;}
.mt5 {margin-top: 5px;}
.mb5 {margin-bottom: 5px;}
.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}
.pt5 {padding-top: 5px;}
.pb5 {padding-bottom: 5px;}
.pt10 {padding-top: 10px;}
.pb10 {padding-bottom: 10px;}

.wrapper {
	width: 80%; 
	min-width: 996px; 
	background: #dfdfdf;
	margin: 0 auto;
}
/* header */
header {
	width: 100%;
	font-size: 18px;
	background: #eee;
}
.logo{ height:30px;}
.menu{ height: 30px;}
.menu a{
	line-height: 30px;
	margin-right:20px;
}