</div>
<footer>
	<div class="wrapper foot">Copyright@2015 DJer | Powered by DJer | Designed by Theme Park</div>
</footer>
<script type="text/javascript" src="js/jquery.slicebox.js"></script>
<script type="text/javascript">
	$.fn.fnImgBigShow = function(options) {
	        options = options || {};
	        var def = {
	            w:500,
	            h:375
	        };
	        var sets = $.extend(def, options);
	        $(this).click(function() {
	            var imgId = $(this).attr("rel"), imgUrl = $(this).attr("href");
	            var beAppended = '<img id="designImgShow_' + imgId + '" src="' + imgUrl + '" style="width:' + sets.w + "px; height:" + sets.h + 'px; padding:5px; border:1px solid #cccccc; background:white; position:absolute; z-index:3;" />';
	            var sTop = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
	            if ($("#blank").length) {
	                $("#blank").show();
	            } else {
	                $("body").prepend('<div id="blank"></div>');
	            }
	            if ($("#designImgShow_" + imgId).length) {
	                $("#designImgShow_" + imgId).show();
	            } else {
	                $("body").append(beAppended);
	            }
	            $("#blank").height($("body").height()).css("opacity", "0.6");
	            $("#designImgShow_" + imgId).css({
	                left:($("body").width() - $("#designImgShow_" + imgId).width()) / 2,
	                top:sTop + ($(window).height() - $("#designImgShow_" + imgId).height()) / 2
	            });
	            $("#blank").click(function() {
	                $("#designImgShow_" + imgId).hide();
	                $("#blank").remove();
	            });
	            return false;
	        });
	    };
	var fnGetMM = function() {
		$.ajaxSetup({
			async : true
		});
        $.get("php/mmClock.php", {}, function(data) {
            if (data !== []) {
            	//$('.mmClock').html(data);
            	//console.log(data);
                var json = eval('('+data+')');
                var src = json.src, id = json.id;
                if (src) {
                    $("#clockMM_a").attr("href", src).attr("rel", id);
                    $("#clockMM_img").attr("src", src);
                    $("#clockMM_img").show();
                    $(".mmSec").show();
                    $("#clockMM_a").fnImgBigShow({
                        w:630,
                        h:420
                    });
                    return false;
                }
                
            }
        });
    };
	fnGetMM();
	var fnShowClock = function() {
	        var myDate = new Date();
	        var sec = myDate.getSeconds();
	        var lefts = 60 - sec;
	        if (lefts < 10) {
	            lefts = "0" + lefts;
	        }
	        $("#mmSecond").text(lefts);
	        if (sec === 0) {
	            fnGetMM();
	        }
	        setTimeout(fnShowClock, 1e3);
	    };
	fnShowClock();
	var getImg = function(){
		$.ajaxSetup({async : false});
		var list = $('.img_list');
		$.get('php/img.php', function(data){
			var arr = eval(data);
			//console.log(arr.length);			
			for(var i=0;i<arr.length;i++){				
				var img = '<li><img width="600px" src="images/play/'+arr[i]+'"></li>';
				list.append(img);
			}
		});
	}
	var getEx = function() {
		var exlist = $('.ex_list');
		$.get('php/ex.php', function(data){
			var exs = eval(data);
			for(var i=0; i<exs.length; i++){
				var item = '<li><a href="ex/'+exs[i]+'">'+exs[i]+'</a></li>';
				exlist.append(item);
			}
		});
	}
	getEx();
$(function(){
	getImg();
	/*var wp = $('.play_wp'),
		imglist = $('.img_list'),
		btns = $('.play_btns'),
		btn_a = btns.find('a'),
		v_width = wp.width();
	var page = 1;
	var pageCount = imglist.find('li').length;
	if(pageCount){
		imglist.width(v_width*pageCount);
	}*/
	var Page = (function() {
		var prevBtn = $( '.prevBtn' ), nextBtn = $('.nextBtn'),
			shadow = $( 'shadow' ).hide(),
			slicebox = $( '.img_list' ).slicebox( {
				onReady : function() {
					// navArrows.show();
					// shadow.show();
				},
				orientation : 'r',
				cuboidsRandom : true
			} ),
			init = function() {
				initEvents();
			},
			initEvents = function() {
				slicebox.play();
				// add navigation events
				nextBtn.on( 'click', function() {
					slicebox.next();
					return false;
				} );
				prevBtn.on( 'click', function() {
					slicebox.previous();
					return false;
				} );
			};
			return { init : init };
	})();
	Page.init();
});
</script>
</body>
</html>