<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DJer's web</title>

	<link rel="stylesheet" type="text/css" href="css/cssReset.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<div class="wrapper clearfix">
<header class="fl">
	<div class="wel"><img src="images/dh_1.png"></div>
	<ul class="nav">
		<li><a href="">Home</a></li>
		<li><a href="">Blog</a></li>
		<li><a href="">html5</a></li>
		<li><a href="">css3</a></li>
		<li><a href="">javascript</a></li>
	</ul>
	<div class="dh"><img src="images/dh_3.png"></div>
</header>