<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>DJer's web</title>

	<link rel="stylesheet" type="text/css" href="css/cssReset.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div class="wrapper clearfix">
<header class="fl">
	<div class="logo"><a href=""><img src="images/logo.png"></a></div>
	<div class="nav-bar"></div>
</header>