<div class="main fl">
	<div class="imgPlay">
		<div class="play_btns">
				<a class="prevBtn" href="javascript:;"></a>
				<a class="nextBtn" href="javascript:;"></a>
			</div>
		<div class="play_wp">				
			<ul class="img_list sb-slider"></ul>
			<ul class="play_cir"></ul>
			<div class="boxshadow"></div>
		</div>
	</div>	
	<div class="wp_left">				
		<div class="examples" style="height:300px;">
			<h2 class="title">Examples</h2>
			<ul class="ex_list"></ul>
		</div>
	</div>
	<div class="wp_right">
		<div class="mmwp">
			<h2 class="title">Girl Clock</h3>
			<div class="mmClock">			
				<a id="clockMM_a" href="javascript:;" title="点击查看大图">
					<img id="clockMM_img" src="" style="width:320px;height:213px;display:none;">
				</a>
				<span class="mmSec" style="display:none;"><span id="mmSecond"></span></span>
			</div>
		</div>
	</div>
</div>
